<div class="toolbar" role="banner">
  <span>Knights application</span>
  <div>
    <button matTooltip="Ver lista de Knights" [routerLink]="['/list/knight']" class="list-knight" mat-mini-fab color="primary">
      <mat-icon>list</mat-icon>
    </button>
    <button matTooltip="Cadastrar um novo Knight" [routerLink]="['/create/knight']" class="add-knight" mat-mini-fab color="accent">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<div class="content" role="main">
  <router-outlet> </router-outlet>
</div>